.characterList,
.ui.cards.characterList {
  margin: 0 0 20px 0;
}

.characterCard,
.ui.card.characterCard {
  transition-duration: 250ms;
  transition-property: box-shadow,bottom;
  margin: 0 15px 0 0;
  cursor: pointer;
  bottom: 0;
}

.characterCard:hover,
.ui.card.characterCard:hover {
  bottom: 3px;
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.25);
}

.ui.card.sceneCard {
  touch-action: auto !important;
  width: auto;
  cursor: pointer;
  transition: none;
  font-size: 0.85em;
}