
.aspect-list {
  display: flex;
}

.aspect-card {
  position: relative;
  padding: 1em 1.5em;
  min-width: 80px;
  display: flex;
  justify-content: center;
  border-radius: 3px;
  color: #333;
  /* border: 1px solid #dedede; */
  background: rgb(168, 209, 233);
}

.aspect-card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-width: 0 0 16px 16px;
  border-style: solid;
  border-color: rgb(78, 123, 150) #fff;
}