body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #fcfcfc;
}

body.body-grid {
  background-size: 40px 40px;
  background-image: linear-gradient(to right, rgba(128, 128, 128, 0.25) 1px, transparent 1px), linear-gradient(to bottom, rgba(128, 128, 128, 0.25) 1px, transparent 1px);
}

@media (min-width: 1200px) {
  .root-container {
    width: 1200px;
    margin: 0 auto;
  }
}

@media (max-width: 1199px) {
  .root-container {
    width: 100%;
  }
}


